body {
    font-family: 'Roboto', sans-serif;
    color: #0F63AF;
}
h1 {
    font-size: 50px;
    padding-top: 30px;
}
body p {
    font-size: 26px;
}
.logo img {
    height: 55px;
    margin: 10px;
}
.nav-item {
    color: #0F63AF;
    font-size: 24px;
    padding: 20px;
}
ion-icon {
  font-size: 64px;
  color: #0F63AF;
  padding: 20px;
}
.jumbotron {
    height: 300px;
    background: url("img/truck_icon.png");
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}
.header-text {
    margin-top: 55px;
}
.search input {
   
    border: 1px solid #0F63AF;
   
    color: #0F63AF;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    
}
.search input[type=text] {
    background-image: url('img/pin.png');
}
.search input[type=date] {
    background-image: url('img/date.png');
}
.btn {
    background-color: #FF9900;
    color: white;
    font-size: 20px;
    height: 50px;
    width: 200px;
    margin-bottom: 60px;
    margin-top: 20px;
}
.how {
    background: url("img/dots.png");
    background-position: center;    
    background-repeat: no-repeat;
    height: 600px;
}
.rectangle {
    background-color: white;
    margin-top: 30px;
    box-shadow: 0 0 30px gray;
}
.about {
    background: url("img/icons_dots.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
} 
.about h1 {
    padding-top: 10%;    
}
.about a {
    color: #0F63AF;
    text-decoration: underline;    
}
.services {
    padding-top: 60px;
}
.services img {
     max-width: 100%;
}
.hello {
    background-color: #F8F8F8;
    height: 500px;
}
.hello h1 {
    padding-top: 60px;
}