body {
    font-family: 'Roboto', sans-serif;
    color: #0F63AF;
}
body h1 {
    font-size: 50px;
}
body p {
    font-size: 26px;
}
.logo img {
    height: 55px;
    margin: 10px;
}
.nav-item {
    color: #0F63AF;
    font-size: 24px;
    padding: 20px;
}
ion-icon {
  font-size: 64px;
  color: #0F63AF;
  padding: 20px;
}
.jumbotron {
    height: 300px;
    background: url("img/truck_icon.png");
    background-position: center;
    background-size: 400px;
    background-repeat: no-repeat;
}
.header-text {
    margin-top: 60px;
    
}
